.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.row-selected .mat-cell{
  font-weight: bold;
  border-color: black;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

table {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
