<h1 #heading1 class="heading1">Welcome!</h1>
<p class="paragraph">
    This app is a generalized solution to the My Magic Bytes Cryptography problem from 247CTF.com. I (Kossivi Esse) built this app with my friend,
  Zachary Heller, who had already solved the problem (please refer to his solution <a href="https://zacheller.dev/my-magic-bytes">here</a>). Here we offer (what can be considered) a check against your solution, if you have an xor
  encrypted file, you can use our Decrypter Tool to try to decrypt your file with your chosen file type.
</p>
<h1 #heading1 class="heading1">How it Works</h1>
<div class="paragraph">
  <p>
  1. First, go to the Decrypter Tool and choose your file type/signature!
  <p>
  <div>
    <img width="20%" height="20%" src="/assets/HowToUseDecrypterTool1.png" alt="image">
  </div>
  <p>
  2. Next, choose your encrypted file!
  </p>
  <div>
    <img width="20%" height="20%" src="/assets/HowToUseDecrypterTool2.png" alt="image">
  </div>
  <p>
  3. Finally, upload your file and wait for a download!
  </p>
  <div>
    <img width="20%" height="20%" src="/assets/HowToUseDecrypterTool3.png" alt="image">
  </div>
</div>
<h1 #heading1 class="heading1">Example</h1>
<p class="paragraph">
    If you are interested in trying, first download <a href="/assets/my_magic_bytes.jpg.enc" download>the example file</a> used in the original 247 problem (site's not super secure, you'll have to go in your browser downloads and allow the download).
  Next, go to the Decrypter Tool, and follow the above guidelines using this jpeg signature "FF D8 FF E0 00 10 4A 46 49 46 00 01"
  (You will need to click through the table to find it). Upload your file, decrypt and you should have an image downloaded.
</p>
<h1 #heading1 class="heading1">Read More!</h1>
<p class="paragraph">
  To get an more indepth description of this problem and insights into other cryptography problems, please visit Zach's blog at <a href="https://zacheller.dev/my-magic-bytes">zachheller.dev</a>.
</p>
